/*-------- Global --------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

html{
    font-family: circular std, sans-serif;
    font-weight: 100;
}

body{
    width: 60%;
    margin: auto;
}

h1{
    font-size: 40px;
    font-weight: 300;
    color: cornflowerblue;
}

h2{
    font-size: 35px;
    font-weight: 300;
    color: cornflowerblue;
}

h3{
    font-size: 20px;
    margin-top: 10px;
    color: skyblue;
}

p{
    font-family: 'Inconsolata';
    color: white;
    font-weight: 100;
    margin-top: 10px;
    font-size: 18px;
}

ul{
    list-style: none;
    margin-top: 40px;
    line-height: 30px;
}


/*-------- Nav --------*/

.nav{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: cornflowerblue;
}

.contacts, .navIcons{
    flex: 1;
    background-color: cornflowerblue;
}

.navIcons{
    text-align: right;
    background-color: cornflowerblue;
}

.navIcons a, .contacts a, .contacts img {
    display: inline-block;
    vertical-align: middle;
    background-color: cornflowerblue;
}

.navIcons a{
    margin-right: 30px;
    background-color: cornflowerblue;   
}

.contacts a{
    color: white;
    text-size-adjust: 30px;
    text-decoration: none;
    background-color: cornflowerblue;
}

.colored{
    color: skyblue;
}


.small{
    font-family: 'Inconsolata';
    font-size: 14px;
    color: lightblue;
    font-weight: 100;
    margin-top: 10px;
}

/*-------- Landing --------*/

.landing{
    height: 86vh;
    position: relative;
    background-color: rgb(66, 66, 66) ;
}

.landingWrap{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}

.landingL{
    margin-top: 4cm;
}

.landingR{
    margin-top: 4cm;
    display: grid;
    height: 100%;
}

.scroll{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}



/*-------- Skills --------*/

.skills{
    height: 75vh;
    text-align: center;
    margin-bottom: 0cm;
    background-color: grey;
}

.skills p{
    margin-bottom: 30px;
}

.skills img{
    width: 100px;
    margin: 20px 10px;
}

/*-------- Footer --------*/

.footer{
    background-color: lightgray;
    text-align: center;
    padding-bottom: 2cm;
    padding-top: 2cm;
}
.footer a{
    font-size: 30px;;
    color: rgb(59, 118, 228);
    text-decoration: none;
}

/*------ screensize scale ------*/
@media screen and (max-width: 1030px){
    .landingWrap{
        flex-direction: column;
        text-align: center;
    }
    .landingL{
        margin-top: 20px ;
    }
    .landingR{
        margin: 0 auto 0 auto;
        display: flex;
    }
    .landingR img{
        width: 200px;
    }
    .scroll{
        bottom: 70px;
    }
    .skills{
        height: 140vh;
    }
    .footer a{
        font-size: 20px;
    }
}











